<%= form_for [:admin, @user_group], html: { class: 'form-horizontal user-group-form' } do |f| %>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">组名<span class="required">*</span></label>
    <div class="col-sm-6">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label for="camps" class="col-sm-2 control-label">训练营</label>
    <div class="col-sm-10">
      <div class="quick-select">
        <a href="#" class="js-select-all">选中全部</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" class="js-select-all-text">选中全部文字</a>
      </div>
      <% Label.camps.each do |camp| %>
        <div class="permission-item">
          <label class="checkbox-inline">
            <input type="checkbox" name="user_group[permissions][][label_id]" value="<%= camp.id %>" <%= (@user_group.permission(camp.id) != Permission.NO_PERMISSION) ? 'checked' : '' %>>
            <%= camp.name %>(文字)
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="user_group[permissions][][permission_type]" value="2" <%= (@user_group.permission(camp.id) == Permission.TEXT_VIDEO) ? 'checked' : '' %>>视频
          </label>
        </div>
      <% end -%>
    </div>
  </div>

  <div class="form-group">
    <label for="book" class="col-sm-2 control-label">来源</label>
    <div class="col-sm-10">
      <div class="quick-select">
        <a href="#" class="js-select-all">选中全部</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" class="js-select-all-text">选中全部文字</a>
      </div>
      <% Label.books.each do |book| %>
        <div class="permission-item">
          <label class="checkbox-inline">
            <input type="checkbox" name="user_group[permissions][][label_id]" value="<%= book.id %>" <%= (@user_group.permission(book.id) != Permission.NO_PERMISSION) ? 'checked' : '' %>>
            <%= book.name %>(文字)
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="2" name="user_group[permissions][][permission_type]" <%= (@user_group.permission(book.id) == Permission.TEXT_VIDEO) ? 'checked' : '' %>>视频
          </label>
        </div>
      <% end -%>
    </div>
  </div>

  <div class="form-group">
    <label for="subject" class="col-sm-2 control-label">题型</label>
    <div class="col-sm-10">
      <div class="quick-select">
        <a href="#" class="js-select-all">选中全部</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" class="js-select-all-text">选中全部文字</a>
      </div>
      <% Label.subjects.each do |subject| %>
        <div class="permission-item">
          <label class="checkbox-inline">
            <input type="checkbox" name="user_group[permissions][][label_id]" value="<%= subject.id %>" <%= (@user_group.permission(subject.id) != Permission.NO_PERMISSION) ? 'checked' : '' %>>
            <%= subject.name %>(文字)
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="2" name="user_group[permissions][][permission_type]" <%= (@user_group.permission(subject.id) == Permission.TEXT_VIDEO) ? 'checked' : '' %>>视频
          </label>
        </div>
      <% end -%>
    </div>
  </div>

  <div class="form-group">
    <label for="subject" class="col-sm-2 control-label">模考</label>
    <div class="col-sm-10">
      <div class="quick-select">
        <a href="#" class="js-select-all">选中全部</a>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <% Label.exams.each do |exam| %>
        <div class="permission-item">
          <label class="checkbox-inline">
            <input type="checkbox" name="user_group[permissions][][label_id]" value="<%= exam.id %>" <%= (@user_group.permission(exam.id) != Permission.NO_PERMISSION) ? 'checked' : '' %>>
            <%= exam.name %>
          </label>
        </div>
      <% end -%>
    </div>
  </div>

  <div class="form-group">
    <label for="valid_to" class="col-sm-2 control-label">权限有效期</label>
    <div class="col-sm-4">
      <%= f.text_field :valid_to, class: 'form-control datetime' %>
      <p class="text-muted" style="margin-top: 4px">不填写代表长期有效</p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <%= f.submit '保存', class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
