<h4>用户组</h4>
<a href="<%= new_admin_user_group_path %>" class="btn btn-primary pull-right" style="margin-top: -45px;">新建用户组</a>
<table class="table table-bordered">
  <thead>
    <th>组名</th>
    <th>权限</th>
    <th style="width: 150px">权限有效期</th>
    <th style="width: 75px">学生人数</th>
    <th style="width: 60px">操作</th>
  </thead>
  <tbody>
    <% @groups.each do |g| %>
      <tr data-id="<%= g.id %>">
        <td><%= g.name %></td>
        <td><%= g.label_names %></td>
        <td>
          <%= render partial: "admin/user_groups/valid_to", locals: { group: g } %>
        </td>
        <td>
          <% if g.users.count > 0 %>
            <%= link_to g.users.count, "/admin/user_groups/#{g.id}/users" %>
          <% else %>
            0
          <% end -%>
        </td>
        <td>
          <%= link_to '编辑', edit_admin_user_group_path(g) %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>