<%= form_for [:admin, @exam], html: { class: 'form-horizontal exam-form' } do |f| %>
  <div class="form-group">
    <label for="seq" class="col-sm-2 control-label">名称</label>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <label for="seq" class="col-sm-2 control-label">系列</label>
    <div class="col-sm-10">
      <label class="checkbox-inline"><%= f.radio_button :exam_type, 1 %> GWD</label>
      <label class="checkbox-inline"><%= f.radio_button :exam_type, 2 %> 770</label>
      <label class="checkbox-inline"><%= f.radio_button :exam_type, 3 %> Prep</label>
    </div>
  </div>
  <div class="form-group">
    <label for="seq" class="col-sm-2 control-label">Verbal考题</label>
    <div class="col-sm-10">
      <%= f.text_field :verbal_exercises, class: 'form-control', placeholder: '填写题目编号序列，以半角逗号分隔' %>
    </div>
  </div>

  <div class="form-group <%= (@exam.exam_type == 1) ? 'hidden' : ''  %>">
    <label for="seq" class="col-sm-2 control-label">Quant考题</label>
    <div class="col-sm-10">
      <%= f.text_field :quant_exercises, class: 'form-control', placeholder: '填写题目编号序列，以半角逗号分隔' %>
    </div>
  </div>

  <div class="form-group">
    <label for="seq" class="col-sm-2 control-label">预计时长</label>
    <div class="col-sm-10">
      <%= f.text_field :estimated_time, class: 'form-control', placeholder: '填写数字，单位是「分钟」' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <%= f.submit '保存', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script>
  $('[name="exam[exam_type]"]').on('click', function(){
    var selectedType = $(this).val();
    var quantExercisesInput = $('#exam_quant_exercises').parents('.form-group');
    if (selectedType === '1') {
      quantExercisesInput.addClass('hidden');
    } else {
      quantExercisesInput.removeClass('hidden');
    }
  });
</script>
