<div style="margin-top: 24px;">
<%= link_to '返回模考用户列表', '/admin/exams/users' %>
</div>

<h4>用户 [<%= @user.nickname %>] 参加了 <%= @takes.count %> 次模考</h4>

<table class="table table-bordered users-table">
  <thead>
    <tr>
      <th>模考</th>
      <th>考试时间</th>
      <% Label.where(category: '题型').map(&:name).each do |label| %>
        <th><%= label %>正确率</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @takes.each do |take| %>
      <% take.calculate_data %>
      <tr data-id="<%= take.id %>">
        <td style="width: 80px"><%= take.exam.name %></td>
        <td><%= take.created_at.to_formatted_s(:date_and_time) %></td>
        <% Label.where(category: '题型').map(&:name).each do |label| %>
          <th><%= take.accuracy_hash[label].nil? ? "" : "#{take.accuracy_hash[label].round(2)}%" %></th>
        <% end %>
      </tr>
    <% end -%>
  </tbody>
</table>
