<%= form_for [:admin, @meeting], html: { class: 'form-horizontal post-form' } do |f| %>
<div class="form-group">
  <label for="name" class="col-sm-2 control-label">课程名</label>
  <div class="col-sm-10">
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <label for="link" class="col-sm-2 control-label">
    链接到
  </label>
  <div class="col-sm-10">
    <%= f.text_field :link, class: 'form-control' %>
    <p class="text-muted"><small>可以是站内或者站外链接</small></p>
  </div>
</div>

<div class="form-group">
  <label for="start_time" class="col-sm-2 control-label">
    上课时间
  </label>
  <div class="col-sm-4">
    <%= f.text_field :start_time, class: 'form-control datetime' %>
    <div class="text-muted"><small>时间输入支持上下方向键和 Tab 键</small></div>
  </div>
  <div class="col-sm-4">
    <%= f.text_field :end_time, class: 'form-control datetime' %>
  </div>
</div>

<div class="form-group">
  <label for="category" class="col-sm-2 control-label">类别</label>
  <div class="col-sm-10">
    <% @meeting.categories.each_with_index do |cat, index| %>
      <label class="radio-inline">
        <input type="radio" name="meeting[category]" value="<%= index %>" <%= (!@meeting.category.nil? && @meeting.category == index) ? 'checked' : '' %>> <%= cat %>
      </label>
    <% end -%>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-10 col-sm-offset-2">
    <%= f.submit '保存', class: 'btn btn-primary' %>
  </div>
</div>

<% end %>