<%= form_for [:admin, @exercise], html: { class: 'form-horizontal exercise-form' } do |f| %>
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">题干<span class="required">*</span></label>
    <div class="col-sm-10">
      <%= f.text_area :title, class: 'form-control', rows: 5 %>
      <p class="text-muted" style="margin-top: 4px">
        1.使用 <a href="http://asciimath.org/#syntax" target="_blank">AsciiMath</a> 语法来输入数学公式<br/>
        2.下划线 &lt;u&gt;&lt;/u&gt;，粗体 &lt;b&gt;&lt;/b&gt;，斜体 &lt;i&gt;&lt;/i&gt;，换行符 &lt;br/&gt;<br/>
        3.可先把图片上传到七牛，然后使用 &lt;img src="url" /&gt; 插入图片
      </p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">选项<span class="required">*</span></label>
    <div class="col-sm-10">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th style="width: 50px;">选项</th>
            <th style="width: 600px;">内容</th>
            <th>正确答案</th>
          </tr>
        </thead>
        <tbody>
          <% ['A','B','C','D','E'].each_with_index do |letter, index| %>
            <tr>
              <td><%= letter %></td>
              <td>
                <input type="text" name="exercise[choices][]" class="form-control" placeholder="选项 <%= letter %> 内容" value="<%= @exercise.choices[index] %>" />
              </td>
              <td><input type="radio" name="exercise[anwser]" <%= (@exercise.anwser == index) ? 'checked' :'' %> value="<%= index %>"></td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>


  <% if @exercise.is_sc_cr_ps_ds? %>

    <div class="form-group">
      <label class="col-sm-2 control-label">文字解析</label>
      <div class="col-sm-10">
        <%= f.text_area :math_guide, class: 'form-control', rows: 5 %>
        <p class="text-muted" style="margin-top: 4px">支持的样式同题干</p>
      </div>
    </div>

  <% else %>

    <div class="form-group">
      <label class="col-sm-2 control-label">文字解析</label>
      <div class="col-sm-10">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th style="width: 50px;">选项</th>
              <th>内容</th>
            </tr>
          </thead>
          <tbody>
            <% ['A','B','C','D','E'].each_with_index do |letter, index| %>
              <tr>
                <td><%= letter %></td>
                <td>
                  <input type="text" name="exercise[guides][]" class="form-control" placeholder="选项 <%= letter %> 解析" value="<%= @exercise.guides[index] %>" />
                </td>
              </tr>
            <% end -%>
          </tbody>
        </table>
        <div class="text-muted">解析内容支持格式：下划线 &lt;u&gt;&lt;/u&gt;，粗体 &lt;b&gt;&lt;/b&gt;，斜体 &lt;i&gt;&lt;/i&gt;，换行符 &lt;br/&gt;</div>
      </div>
    </div>

  <% end -%>




  <div class="form-group">
    <label for="video_url" class="col-sm-2 control-label">视频解析</label>
    <div class="col-sm-10">
      <%= f.text_field :video_url, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label for="exclusive" class="col-sm-2 control-label">770原创</label>
    <div class="col-sm-10">
      <label class="checkbox-inline">
        <%= f.check_box :exclusive %> 770原创解析
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="book" class="col-sm-2 control-label">来源</label>
    <div class="col-sm-10">
      <% @books.each do |book| %>
        <label class="checkbox-inline">
          <input type="checkbox" name="exercise[label_ids][]" value="<%= book.id %>" <%= (@exercise.label_ids.include?(book.id)) ? 'checked' : '' %>>
          <%= book.name %>
        </label>
      <% end -%>
    </div>
  </div>

  <div class="form-group">
    <label for="subject" class="col-sm-2 control-label">题型</label>
    <div class="col-sm-10">
      <% @subjects.each do |subject| %>
        <label class="checkbox-inline">
          <input type="checkbox" name="exercise[label_ids][]" value="<%= subject.id %>" <%= (@exercise.label_ids.include?(subject.id)) ? 'checked' : '' %>>
          <%= subject.name %>
        </label>
      <% end -%>
    </div>
  </div>

  <div class="form-group">
    <label for="difficulty" class="col-sm-2 control-label">难度</label>
    <div class="col-sm-10">
      <% @difficulties.each do |d| %>
        <label class="checkbox-inline">
          <input type="checkbox" name="exercise[label_ids][]" value="<%= d.id %>" <%= (@exercise.label_ids.include?(d.id)) ? 'checked' : '' %>>
          <%= d.name %>
        </label>
      <% end -%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <%= f.submit '保存', class: 'btn btn-primary' %>
    </div>
  </div>

  <% content_for :scripts do %>
    <%= javascript_include_tag 'admin/courses' %>
  <% end -%>

<% end %>