<h4>题库管理</h4>
<a href="<%= new_admin_exercise_path %>" class="btn btn-primary pull-right" style="margin-top: -45px;">添加题目</a>
<table class="table table-bordered">
  <thead>
    <th style="width: 500px;">题目</th>
    <th>标签</th>
    <th>操作</th>
  </thead>
  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= raw exercise.title.truncate(180) %></td>
        <td>
          <% exercise.labels.each do |label| %>
            <span><%= label.name %></span>,&nbsp;
          <% end -%>
        </td>
        <td>
          <%= link_to '编辑', edit_admin_exercise_path(exercise) %>
          <%= link_to '删除', admin_exercise_path(exercise), class: 'delete-exercise' %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<% content_for :scripts do %>
  <%= javascript_include_tag 'admin/exercises' %>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<% end -%>