<h4>题库管理</h4>
<div class="pull-right" style="margin-top: -45px">
  <a href="<%= new_admin_exercise_path %>" class="btn btn-primary pull-left">添加题目</a>
<a href="<%= new_admin_exercise_path(rc: true) %>" class="btn btn-primary pull-left" style="margin-left: 16px;">添加阅读题目</a>  
</div>

<div class="well">
  <form class="form-inline exercise-filter-form" action="/admin/exercises" method="get">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="form-group">
      <input type="text" name="q" class="form-control" placeholder="搜索题目" value="<%= @q %>" style="margin-right: 24px">
    </div>
    <div class="form-group">
      <label>来源</label>
      <select class="form-control" name="filters[]">
        <option value="0" <%= (@filters.first.to_i == 0) ? "selected" : "" %>>全部</option>
        <% Label.books.each do |book| %>
          <option value="<%= book.id %>" <%= (@filters.first.to_i == book.id) ? "selected" : "" %>><%= book.name %></option>
        <% end -%>
      </select>
    </div>
    <div class="form-group">
      <label>题型</label>
      <select class="form-control" name="filters[]">
        <option value="0" <%= (@filters[1].to_i == 0) ? "selected" : "" %>>全部</option>
        <% Label.subjects.each do |s| %>
          <option value="<%= s.id %>" <%= (@filters[1].to_i == s.id) ? "selected" : "" %>><%= s.name %></option>
        <% end -%>
      </select>
    </div>
    <div class="form-group">
      <label>难度</label>
      <select class="form-control" name="filters[]">
        <option value="0" <%= (@filters[2].to_i == 0) ? "selected" : "" %>>全部</option>
        <% Label.difficulties.each do |d| %>
          <option value="<%= d.id %>" <%= (@filters[2].to_i == d.id) ? "selected" : "" %>><%= d.name %></option>
        <% end -%>
      </select>
    </div>
    <div class="form-group">
      <label>训练营</label>
      <select class="form-control" name="filters[]">
        <option value="0" <%= (@filters.last.to_i == 0) ? "selected" : "" %>>全部</option>
        <% Label.camps.each do |d| %>
          <option value="<%= d.id %>" <%= (@filters.last.to_i == d.id) ? "selected" : "" %>><%= d.name %></option>
        <% end -%>
      </select>
    </div>
    <button type="submit" class="btn btn-default">查询</button>
  </form>
</div>


<table class="table table-bordered">
  <thead>
    <th>题号</th>
    <th>ID</th>
    <th style="width: 500px;">题目</th>
    <th>标签</th>
    <th>是否隐藏</th>
    <th style="width:80px">操作</th>
  </thead>
  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.seq %></td>
        <td><%= exercise.id %></td>
        <td><%= truncate_html(exercise.title, length: 120) %></td>
        <td>
          <% exercise.labels.each do |label| %>
            <span><%= label.name %></span>,&nbsp;
          <% end -%>
        </td>
        <td>
          <%= exercise.hide_from_view ? '是' : '否' %>
        </td>
        <td>
          <%= link_to '编辑', edit_admin_exercise_path(exercise) %>
          <%= link_to '删除', admin_exercise_path(exercise), class: 'delete-exercise' %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<div class="container-narrow">
  <%= will_paginate @exercises, previous_label: "«", next_label: "»" %>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'admin/exercises' %>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<% end -%>