<div class="header-margin">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% @slides.each do |slide| %>
        <div class="swiper-slide" data-color="<%= slide.bg_color %>">
          <a href="<%= slide.link %>" target="_blank">
            <%= image_tag slide.img_url, width: 1190, height: 360 %>
          </a>
        </div>
      <% end -%>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<div class="why-us">
  <div class="container py2">
    <div class="clearfix">

      <div class="col col-4 p2">
        <div class="left mr2">
          <img src="http://7xtg0z.com2.z0.glb.clouddn.com/1.png" width="180" height="120">
        </div>
        <h4>实力 + 经验</h4>
        <p>
          团队平均770分以上，并均有超过2年的授课经验，独家教材
        </p>
      </div><div class="col col-4 p2">
      <div class="left mr2">
        <img src="http://7xtg0z.com2.z0.glb.clouddn.com/2.png" width="180" height="120">
      </div>
      <h4>定制 + 灵活</h4>
      <p>
        根据个人特点拟定授课方案，因材施教；一对一授课时间安排灵活
      </p>
    </div><div class="col col-4 p2">
    <div class="left mr2">
      <img src="http://7xtg0z.com2.z0.glb.clouddn.com/3.png" width="180" height="120">
    </div>
    <h4>专注 + 陪伴</h4>
    <p>
      无需等待机经发布，临考前随时答疑解惑，有问必答，一路陪你达到目标分
    </p>
  </div>
</div>
</div>
</div>

<div class="calendar-container clearfix">
  <h3 class="center" style="margin-bottom: 0;">课程预告</h3>
  <table cellspacing="0" cellpadding="10" class="meeting-categories-table">
    <thead>
      <th>全部课程</th>
      <th colspan="4">线上直播课</th>
      <th>线下面授课</th>
    </thead>
    <tbody>
      <tr>
        <td style="background-color: #666" rowspan="2"><label><input type="radio" name="calendar-category" value="-1" checked> 全部</label></td>
        <td style="background-color: <%= @meeting.colors[0] %>"><label><input type="radio" name="calendar-category" value="0"> 数学Q51</label></td>
        <td style="background-color: <%= @meeting.colors[2] %>"><label><input type="radio" name="calendar-category" value="2"> 逻辑小班</label></td>
        <td style="background-color: <%= @meeting.colors[4] %>"><label><input type="radio" name="calendar-category" value="4"> 语法小班</label></td>
        <td rowspan="2" style="background-color: <%= @meeting.colors[6] %>"><label><input type="radio" name="calendar-category" value="6"> 免费私塾公开课</label></td>
        <td rowspan="2" style="background-color: <%= @meeting.colors[7] %>"><label><input type="radio" name="calendar-category" value="7"> 线下面授班</label></td>
      </tr>
      <tr>
        <td style="background-color: <%= @meeting.colors[1] %>"><label><input type="radio" name="calendar-category" value="1"> 数学训练营</label></td>
        <td style="background-color: <%= @meeting.colors[3] %>"><label><input type="radio" name="calendar-category" value="3"> 逻辑训练营</label></td>
        <td style="background-color: <%= @meeting.colors[5] %>"><label><input type="radio" name="calendar-category" value="5"> 语法训练营</label></td>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <div id="calendar"></div>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'welcome' %>
<% end -%>