<div class="bg-snow pb2">

  <div class="container header-margin pt2">
    <div class="clearfix card filters">
      <span class="gray mr2">选择科目</span>
      <a href="<%= @archive ? '/courses/free/archive' : '/courses/free' %>" class="<%= (@subject == "" || @subject.nil?) ? "active" : "" %>">全部</a>
      <% Course.subjects.each_with_index do |subject, index| %>
      <a href="<%= free_courses_subject_url(index, @archive) %>" class="<%= (index.to_s == @subject) ? 'active' : '' %>"><%= subject %></a>
      <% end -%>
    </div>
  </div>

  <div class="courses clearfix mb2">
    <div class="container">
      <% if @courses.count > 0 %>
        <%= render @courses %>
      <% else %>
        <div class="gray p4 center h3">没有课程</div>
      <% end -%>
    </div>
  </div>

</div>