<h4>用户</h4>
<div class="well clearfix">
  <div class="pull-left">
    <select class="form-control js-user-group-filter">
      <option value="0">-- 选择用户组 --</option>
      <% @user_groups.each do |g| %>
        <option value="<%= g.id %>" <%= (g.id.to_s == @group) ? "selected" : "" %>><%= g.name %></option>
      <% end -%>
    </select>
  </div>

  <div class="pull-left" style="line-height:34px;margin:0 16px;padding: 0 16px;border-left: 1px solid #ddd;border-right:1px solid #ddd">
    <%= link_to '显示无组用户', admin_lonely_users_path %>
  </div>

  <div class="pull-left">
    <form action="/admin/users/search" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="text" name="q" class="form-control" placeholder="搜索手机号、昵称" value="<%= @q %>">
    </form>
  </div>
</div>

<div class="btn-group btn-group-sm" role="group" style="margin-bottom: 16px;">
  <button class="btn btn-default js-add-to-user-group">加入用户组</button>
</div>

<div class="pull-right text-muted" style="margin-top:10px">找到 <%= @users.count %> 用户</div>

<%= render partial: 'admin/users/user_list', locals: { users: @users } %>

<div class="modal fade" tabindex="-1" role="dialog" id="addToUserGroupModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">加入用户组</h4>
      </div>
      <div class="modal-body">
        <p>将选择的用户加入下面的用户组</p>
        <select name="user-group" class="form-control" style="width:300px">
          <option value="-1">请选择</option>
          <% @user_groups.each do |group| %>
            <option value="<%= group.id %>"> <%= group.name %>
          <% end %>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button class="btn btn-primary js-confirm" data-dismiss="modal">确认</button>
      </div>
    </div>
  </div>
</div>