<div class="header" data-exam-id="<%= @exam.id %>" data-take-id="<%= @take.id %>">
  <h1><%= @exam.name %></h1>
  <div class="right">
    <div class="clock" id="clock">
      <i></i>
      <span class="to-hide">Time cost <span class="minutes"><%= @exam.estimated_time %></span>:<span class="seconds">00</span></span>
    </div>
    <div class="location">
      <i></i>
      <span class="to-hide">Location <%= current_location(@exam, @exercise) %> of <%= total(@exam, @exercise) %></span>
    </div>
  </div>
</div>