<div class="bottom-bar">
  <a class="btn-help left" href="#">
    <i></i>
    <span><u>H</u>elp</span>
  </a>
  <a class="btn-end left js-end-exam" href="#">
    <i></i>
    <span><u>E</u>nd Exam</span>
  </a>

  <% if @page_id.to_i != 15 %>
    <a class="btn-next right <%= 'btn-next-skip' if @page_id.to_i == 13 %>" href="<%= next_instruction_url(@exam, @page_id, @take) %>" data-url="<%= next_instruction_url(@exam, @page_id, @take) %>"  data-take-id="<%= @take.id %>" data-exam-id="<%= @exam.id %>">
      <span><u>N</u>ext</span>
      <i></i>
    </a>
  <% end %>
  <% if @page_id.to_i != 14 && @page_id.to_i != 15 %>
    <a class="btn-skip right" href="javascript:;" data-url="<%= skip_instructions_url(@exam, @take) %>" data-take-id="<%= @take.id %>" data-exam-id="<%= @exam.id %>">
      <span>Skip</span>
    </a>
  <% end %>
</div>

<%= render 'exams/end_exam_dialog' %>
