<div class="exam-main">
  <%= render 'exams/exercise_header' %>

  <div class="top-bar"></div>
  <div class="content">
    <%= render "exams/exercise", locals: { exercise: @exercise } %>
  </div>

  <%= render "exams/exercise_footer" %>
</div>

<%= render 'exams/end_exam_dialog' %>
<%= render 'exams/confirm_anwser_dialog' %>
<%= render 'exams/unanwsered_dialog' %>