<div class="bg-snow pb2">

  <div class="container header-margin pt2">
    <div class="clearfix card filters">
      <span class="gray mr2">选择系列</span>
      <a href="/courses">全部</a>
      <a href="#">GWD系列</a>
      <a href="#">770系列</a>
    </div>
  </div>

  <div class="exams clearfix mb2">
    <div class="container">
      <div class="left bg-white p2 mt2 mb2 clearfix mini-quiz">
        <h4><a href="http://www.mba.com/gmat-mini-quiz?utm_campaign=Global_All_Mini-Quiz_11Apr2016&utm_medium=referral&utm_source=gmat770" target="_blank">The GMAT mini quiz</a></h4>
        <a href="http://www.mba.com/gmat-mini-quiz?utm_campaign=Global_All_Mini-Quiz_11Apr2016&utm_medium=referral&utm_source=gmat770" target="_blank">
          <img src="http://7xtg0z.com2.z0.glb.clouddn.com/verbal.png" width="60">
          <img src="http://7xtg0z.com2.z0.glb.clouddn.com/quant.png" width="60">
        </a>
      </div>
      <% @exams.each do |exam| %>
        <div class="left bg-white p2 mt2 mb2 clearfix">
          <% if current_user %>
            <%= link_to exam.name, exam_path(exam), class: 'h3' %>
          <% else %>
            <%= link_to exam.name, '#unauthorized', class: 'h3' %>
          <% end -%>
          <div class="h5 py1 gray">
            <div>系列: <%= exam.exam_type_label %></div>
            <div>练习人数: <%= exam.user_count %></div>
            <div class="gray">
              <span>平均错题数: </span>
              <span>Verbal <%= exam.avg_num_of_wrong_verbal_exercises.nan? ? '-' : exam.avg_num_of_wrong_verbal_exercises %></span>
              <% if exam.exam_type_label == '770' %>
                <span>Quant <%= exam.avg_num_of_wrong_quant_exercises.nan? ? '-' : exam.avg_num_of_wrong_quant_exercises %></span>
              <% end -%>
            </div>
          </div>
        </div>
      <% end -%>
    </div>
  </div>

</div>

<script>
  $('[href="#unauthorized"]').on('click', function(e){
    layer.msg('您必须先登录才能查看模考内容');
  });
</script>