<div class="bg-snow pb2 exam-result">
  <div class="pt2 header-margin">
    <div class="container pb2">
      <a href="/exams">&larr; 返回模考列表</a>
    </div>
    <div class="container bg-white p3 clearfix">
      <h1>答题时间分析</h1>
      <% if @exam.exam_type == 2 %>
        <ul class="subject-switch js-time-chart-switch">
          <li><a href="#verbal" class="active">Verbal</a></li>
          <li><a href="#math">Math</a></li>
        </ul>
      <% end -%>
      <div id="time-chart" style="height: 350px;"></div>
      <div>
        <div class="left" style="width: 50%;">
          <h3>Sub-section time management</h3>
          <div id="subsection-time-mgmt" style="height: 350px;"></div>
        </div>
        <div class="left" style="width: 50%">
          <h3>Sub-section right vs wrong</h3>
          <div id="subsection-right-wrong" style="height: 350px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt2">
    <div class="container bg-white p3">
      <h1>答案及解析</h1>
      <% if @exam.exam_type_label == '770' %>
        <ul class="subject-switch js-exercise-switch">
          <li><a href="#verbal" class="active">Verbal</a></li>
          <li><a href="#math">Math</a></li>
        </ul>
      <% end -%>
      <div class="clearfix js-tab" data-tab="verbal">
        <ol class="exercise-numbers" data-take-id="<%= @take.id %>">
          <% @verbal_exercises.each_with_index do |ex, i| %>
            <li><a href="#" data-ex-id="<%= ex.id %>" data-index="<%= i %>" class="<%= exercise_number_css_class(i, @take.verbal_anwser_results) %>"><%= i+1 %></a></li>
          <% end -%>
        </ol>
      </div>
      <div class="clearfix hidden js-tab" data-tab="math">
        <ol class="exercise-numbers" data-take-id="<%= @take.id %>">
          <% @quant_exercises.each_with_index do |ex, i| %>
            <li><a href="#" data-ex-id="<%= ex.id %>" data-index="<%= i %>" class="<%= exercise_number_css_class(i, @take.verbal_anwser_results) %>"><%= i+1 %></a></li>
          <% end -%>
        </ol>
      </div>
      <div class="exercise-detail"></div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'exam_results' %>
  <script type="text/javascript">
    var verbalTimes = <%= @verbal_times %>;
    var mathTimes = <%= @math_times %>;
    var timeManagementData = <%= @take.time_management_data %>;
    var wrongData = <%= @take.verbal_wrong_data %>;
    var rightData = <%= @take.verbal_right_data %>;
  </script>
<% end -%>
