<div class="bg-snow pb2 exam-result">
  <div class="pt2 header-margin">
    <div class="container pb2">
      <a href="/exams">&larr; 返回模考列表</a>
    </div>
    <div class="container bg-white p3 clearfix">
      <h1>答题时间分析</h1>
      <% if @exam.exam_type_label == '770' %>
        <ul class="subject-switch js-time-chart-switch">
          <li><a href="#verbal" class="active">Verbal</a></li>
          <li><a href="#math">Math</a></li>
        </ul>
      <% end -%>
      <div id="time-chart" style="width: 1100px; height: 300px;"></div>
      <div class="clearfix">
        <div class="left" style="width: 50%;">
          <h3>单项时间</h3>
          <div id="subsection-time-mgmt" style="height: 260px;"></div>
        </div>
        <div class="left" style="width: 50%">
          <h3>单项正确率</h3>
          <div id="subsection-right-wrong" style="height: 260px;"></div>
        </div>
      </div>
      <div class="percent-correct-diagram">
        <div class="title">percent correct</div>
        <div class="left" style="width: 30%; padding: 16px;">
          PERCENTAGE OF QUESTIONS
          <br/>ANWSERED
          <br/>CORRECT/INCORRECT<br/><br/>
          <i class="correct"></i>correct<br/>
          <i class="incorrect"></i>incorrect
        </div>
        <div class="right clearfix" style="width: 70%; padding-top: 16px;">
        </div>
        <div class="black-bar">
          <span>&nbsp;&nbsp;question number</span>
        </div>
      </div>
    </div>
  </div>

  <div class="pt2">
    <div class="container bg-white p3">
      <h1>答案及解析</h1>
      <% if @exam.exam_type_label == '770' %>
        <ul class="subject-switch js-exercise-switch">
          <li><a href="#verbal" class="active">Verbal</a></li>
          <li><a href="#math">Math</a></li>
        </ul>
      <% end -%>
      <div class="clearfix js-tab" data-tab="verbal">
        <div style="margin-top: 16px;">
          <label><input type="radio" name="range" value="all" checked=true> 全部题目 &nbsp;&nbsp;</label>
          <label><input type="radio" name="range" value="sc"> 只看SC  &nbsp;&nbsp;</label>
          <label><input type="radio" name="range" value="cr"> 只看CR  &nbsp;&nbsp;</label>
          <label><input type="radio" name="range" value="rc"> 只看RC  &nbsp;&nbsp;</label>
          <label><input type="radio" name="range" value="wrong"> 只看错题 &nbsp;&nbsp;</label>
          <label><input type="radio" name="range" value="longtime"> 思考时间过长的题目</label>
        </div>
        <ol class="exercise-numbers" data-take-id="<%= @take.id %>">
          <% @verbal_exercises.each_with_index do |ex, i| %>
            <li><a href="#" data-ex-id="<%= ex.id %>" data-index="<%= i %>" data-longtime="<%= @take.longtime_exercise?(ex) %>" data-label="<%= ex.subject_label%>" class="<%= exercise_number_css_class(i, @take.verbal_anwser_results, true) %>"><%= i+1 %></a></li>
          <% end -%>
        </ol>
      </div>
      <% if @exam.exam_type_label == '770' %>
        <div class="clearfix hidden js-tab" data-tab="math">
          <div class="">
            <label><input type="radio" name="range2" value="all" checked=true> 全部题目 &nbsp;&nbsp;</label>
            <label><input type="radio" name="range2" value="ps"> 只看PS  &nbsp;&nbsp;</label>
            <label><input type="radio" name="range2" value="ds"> 只看DS  &nbsp;&nbsp;</label>
            <label><input type="radio" name="range2" value="wrong"> 只看错题 &nbsp;&nbsp;</label>
            <label><input type="radio" name="range2" value="longtime"> 思考时间过长的题目</label>
          </div>
          <ol class="exercise-numbers" data-take-id="<%= @take.id %>">
            <% @quant_exercises.each_with_index do |ex, i| %>
              <li><a href="#" data-ex-id="<%= ex.id %>" data-index="<%= i %>" data-longtime="<%= @take.longtime_exercise?(ex) %>" data-label="<%= ex.subject_label%>" class="<%= exercise_number_css_class(i, @take.quant_anwser_results, false) %>"><%= i+1 %></a></li>
            <% end -%>
          </ol>
        </div>
      <% end -%>
      <div class="exercise-detail"></div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'exam_results' %>
  <script type="text/javascript">
    var verbalTimes = <%= @verbal_times %>;
    <% if @exam.exam_type_label == '770' %>
    var quantTimes = <%= @quant_times %>;
    <% end -%>
    var verbalTimeManagementData = <%= @take.verbal_time_management_data %>;
    <% if @exam.exam_type_label == '770' %>
    var quantTimeManagementData = <%= @take.quant_time_management_data %>;
    <% end -%>
    var verbalWrongData = <%= @take.verbal_wrong_data %>;
    var verbalRightData = <%= @take.verbal_right_data %>;
    <% if @exam.exam_type_label == '770' %>
    var quantWrongData = <%= @take.quant_wrong_data %>;
    var quantRightData = <%= @take.quant_right_data %>;
    <% end -%>
  </script>
<% end -%>
