<% if current_user.blank? %>

  <div class="permission-reminder">登录后可查看题目解析 <%= link_to '登录', '/auth/open_wechat' %></div>

<% elsif current_user.permission_type(@exercise) == Permission.NO_PERMISSION %>

  <div class="permission-reminder">您要先购买此课程才可以查看解析</div>

<% else %>

  <% if current_user.permission_type(@exercise) == Permission.TEXT_VIDEO %>

    <% if @exercise.video_url.present? %>
      <h3><%= image_tag 'icon-guides-video.png' %>视频解析</h3>
      <div class="polyv" id="<%= @exercise.video_url %>"></div>
    <% end -%>

  <% end %>

  <h3><%= image_tag 'icon-guides.png' %>题目解析</h3>

  <div class="guide-content" unselectable="on">
    <%= raw @exercise.math_guide %>
  </div>
  
<% end -%>