<% if current_user.blank? %>

<div class="permission-reminder">登录后可查看题目解析 <%= link_to '登录', '/auth/open_wechat' %></div>

<% elsif current_user.is_authorized_to_view?(@exercise) %>

  <% options = ['A', 'B', 'C', 'D', 'E'] %>


  <h3><%= image_tag 'icon-guides.png' %>题目解析</h3>

  <% if @exercise.is_sc_cr_ps_ds? %>

    <div class="guide-content" unselectable="on">
      <%= raw @exercise.math_guide %>
    </div>

  <% else %>

    <% if @exercise.guides.join("").present? %>
      <ul style="padding-right: 64px;">
        <% @exercise.guides.each_with_index do |guide, index| %>
          <li class="<%= (index == @exercise.anwser) ? 'correct' : '' %>"><b><%= options[index] %></b>&nbsp;<%= raw guide %></li>
        <% end -%>
      </ul>
    <% end -%>

  <% end -%>

  <% if @exercise.video_url.present? %>
    <h3><%= image_tag 'icon-guides-video.png' %>视频解析</h3>
    <% if true # 权限检查 %>
      <!--
        <div class="permission-reminder">您尚未获得视频解析权限，仅限<a href="#">逻辑小班</a>或<a href="#">VIP一对一</a>学员有权观看</div>
      -->
        <div class="polyv" id="<%= @exercise.video_url %>"></div>
    <% end -%>
  <% end -%>

<% else %>

  <div class="permission-reminder">您要先购买此课程才可以查看解析</div>

<% end -%>