<div class="bg-snow pb2">

  <div class="pt2 header-margin search-bar">
    <div class="container">
      <%= form_tag search_exercises_path, :method => :get do %>
        <%= text_field_tag :query, params[:query], placeholder: '输入题目关键词' %> <%= submit_tag "搜索" %>
      <% end %>
    </div>
  </div>

  <div class="filters">
    <div class="container bg-white">
      <div class="selected-filters">
        <span class="text-muted">全部结果 &gt;</span>
        <% if @labels.present? %>
          <% @labels.each do |label| %>
            <% label = Label.find(label) %>
            <a href="#" data-value="<%= label.id %>"><%= label.name %><%= image_tag 'delete_filter.png', width: 10, height: 10 %></a>
          <% end -%>
        <% end -%>
      </div>

      <table class="exercise-filters">
        <tbody>
          <tr>
            <td>来源</td>
            <td>

              <% @books.each do |book| %>
                <a href="#" data-value="<%= book.id %>" class="<%= @labels.present? && @labels.include?(book.id.to_s) ? 'selected' : '' %>"><%= book.name %></a>
              <% end -%>
            </td>
          </tr>
          <tr>
            <td>题型</td>
            <td>
              <% @subjects.each do |subject| %>
                <a href="#" data-value="<%= subject.id %>" class="<%= @labels.present? && @labels.include?(subject.id.to_s) ? 'selected' : '' %>"><%= subject.name %></a>
              <% end -%>
            </td>
          </tr>
          <tr>
            <td>难度</td>
            <td class="js-difficulty" data-label="difficulty">
              <% @difficulties.each do |difficulty| %>
                <a href="#" data-value="<%= difficulty.id %>" class="<%= @labels.present? && @labels.include?(difficulty.id.to_s) ? 'selected' : '' %>"><%= difficulty.name %></a>
              <% end -%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="exercises">
    <div class="container">

      <div class="table-header">
        <label style="cursor: pointer;"><input type="checkbox" name="exclusive" <%= @exclusive.present? ? 'checked' : '' %>> 仅显示770的解析</label>
        <div class="exercise-count">共有<span><%= @exercises.count %></span>道试题</div>
      </div>

      <% if @exercises.count == 0 %>
        <p style="text-align: center; color: #999">没有找到相关题目，请重新搜索</p>
      <% else %>

        <table cellspacing="0">
          <tbody>
            <% @exercises.each_with_index do |e, i| %>
              <tr class="exercise">
                <td class="sr"><%= i + 1 %></td>
                <td class="title">
                  <%= link_to raw(e.title), exercise_path(e) %>
                </td>
              </tr>
            <% end -%>
          </tbody>
        </table>

        <div class="container-narrow">
          <%= will_paginate @exercises, previous_label: "«", next_label: "»" %>
        </div>

      <% end -%>

    </div>

  </div>


</div>


<% content_for :scripts do %>
  <script>
  var filters = <%= raw @filters.to_json %>;
  </script>
  <%= javascript_include_tag 'exercises' %>
<% end -%>