<div class="bg-snow pb2">

  <div class="pt2 header-margin search-bar">
    <div class="container">
      <input type="text" placeholder="输入题目关键词">
      <button>搜索</button>
    </div>
  </div>

  <div class="filters">
    <div class="container bg-white">
      <div class="selected-filters">
        <span class="text-muted">全部结果 &gt;</span>
        <a href="#">OG2016<%= image_tag 'delete_filter.png', width: 10, height: 10 %></a>
        <a href="#">PS<%= image_tag 'delete_filter.png', width: 10, height: 10 %></a>
      </div>

      <table>
        <tbody>
          <tr>
            <td>来源</td>
            <td>
              <% @books.each do |book| %>
                <a href="#"><%= book %></a>
              <% end -%>
            </td>
          </tr>
          <tr>
            <td>题型</td>
            <td>
              <% @subjects.each do |subject| %>
                <a href="#"><%= subject %></a>
              <% end -%>
            </td>
          </tr>
          <tr>
            <td>难度</td>
            <td>
              <% @difficulties.each do |difficulty| %>
                <a href="#"><%= difficulty %></a>
              <% end -%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="exercises">
    <div class="container">
      <div class="table-header">
        <input type="checkbox"> 仅显示770的解析
        <div class="exercise-count">共有<span><%= @count %></span>道试题</div>
      </div>
      <table cellspacing="0">
        <tbody>
          <% @exercises.each_with_index do |e, i| %>
            <tr class="exercise">
              <td class="sr"><%= i %></td>
              <td class="title">
                <%= link_to raw(e.title), exercise_path(e) %>
              </td>
            </tr>
          <% end -%>
        </tbody>
      </table>

    </div>

  </div>


</div>