<div class="bg-snow pb2">

  <div class="pt2 header-margin search-bar">
    <div class="container">
      <%= form_tag search_exercises_path, :method => :get do %>
        <%= text_field_tag :query, params[:query], placeholder: '输入题目关键词' %> <%= submit_tag "搜索" %>
      <% end %>
    </div>
  </div>

  <div class="pt1 breadcrumb">
    <div class="container">
      <%= link_to '题库', exercises_path %>
      &gt;
      <%= link_to @exercise.labels.first.name, "/exercises/search?labels=#{@exercise.labels.first.id}" %>
      &gt;
      题目详情
    </div>
  </div>

  <div class="exercise-detail">
    <div class="container">
      <p class="question"><%= raw @exercise.title %></p>
      <ul>
        <% options = ['A', 'B', 'C', 'D', 'E'] %>
        <% @exercise.choices.each_with_index do |c, index| %>
          <li><label><input type="radio" name="choice"><b><%= options[index] %></b>&nbsp;<%= c %></label></li>
        <% end -%>
      </ul>
      <button class="btn show-guides">显示正确答案和解析</button>

      <div class="guides">
        <p>正确答案: <span><%= @exercise.anwser.present? ? options[@exercise.anwser] : '' %></span></p>
        <%= render "exercises/guides" %>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'exercises' %>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script src='//player.polyv.net/script/polyvplayer.min.js'></script>
<% end -%>