<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="GMAT"/>
    <meta name="description" content="GMAT,英语,考试,MBA,培训"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GMAT770 - 助力你考G高分</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- 百度统计代码 -->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?4e2f29d6b2044f5e23ce2309ec935ae7";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  </head>

  <body>
    <header class="bg-blue fixed">
      <div class="clearfix container">
        <div class="left py1">
          <a href="/">
			  <%= image_tag 'website-logo.png', width: 150, class: 'block' %>
          </a>
        </div>
        <nav class="left ml2">
          <ul>
            <li><a href="/">首页</a></li>
            <li><a class="<%= (controller_name == 'courses' && action_name.include?('free')) ? 'active' : '' %>" href="/courses/free">学习</a></li>
            <li><a class="<%= (controller_name == 'courses' && action_name == 'index') ? 'active' : '' %>" href="/courses">精品课</a></li>
            <li><a class="<%= (controller_name == 'welcome' && action_name == 'vip') ? 'active' : '' %>" href="/welcome/vip">一对一</a></li>
            <li><a class="<%= (controller_name == 'exercises') ? 'active' : '' %>" href="/exercises">题库/解析</a></li>
            <li><a class="<%= (controller_name == 'exams') ? 'active' : '' %>" href="/exams">模考</a></li>
            <li><a class="<%= (controller_name == 'posts') ? 'active' : '' %>" href="/posts">免费资源</a></li>
            <li><a class="<%= (controller_name == 'welcome' && action_name == 'about') ? 'active' : '' %>" href="/welcome/about">关于我们</a></li>
          </ul>
        </nav>

        <%= render 'layouts/login' %>
      </div>
    </header>

    <%= yield %>

    <%= render 'welcome/barcode' %>

    <footer class="py2 h6 center gray clearfix">
      <div class="max-width-4 mx-auto">
          <p>友情链接：
            <a class="mx1" href="http://www.mba.com/global">GMAC</a>
            <a class="mx1" href="https://gmat770.ke.qq.com/">腾讯课堂</a>
            <a class="mx1" href="http://study.163.com/provider/1028149114/index.htm
">网易云课堂</a>
            <a class="mx1" href="http://e.youku.com/o/EOMTY2OA==">Youku学堂</a>
            <a class="mx1" href="http://www.iqiyi.com/u/2403845214">爱奇艺</a>
            <a class="mx1" href="http://www.sharewithu.com/mall/space.php?type=course&id=820890">尚友商城</a>
            <a class="mx1" href="http://edu.yy.com/agency/33137#tab0">YY教育</a>
            <a class="mx1" href="http://www.cctalk.com/org/122/">沪江CCtalk</a>
          </p>
          <p>联系地址：海淀区知春路盈都大厦C座3单元6A &nbsp;&nbsp;&nbsp; 官方邮箱：gmat770cg@qq.com&nbsp;&nbsp;&nbsp;联系电话：010-58734600 &nbsp;&nbsp;&nbsp; 服务时间：周一至周五 09:00 &ndash; 18:00</p>
          <p>&copy; 2016 &ndash; 2017 北京思晨教育科技有限公司 京ICP备16060483号-1</p>
      </div>
    </footer>

    <%= yield :scripts %>

  </body>
</html>
